* {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main-header {
    height: 80vh;
    /* background: url(../Portfolio/Photos/raptors.jpg) no-repeat center; */
    background-color:  #262626;
}

.tytul {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding-top: 10vh;
}

.navigation {
    margin-top: 300px;
    width: 100%;
    position: absolute;
}

.navigation ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    padding: 20px;
    list-style-type: none;
}

.navigation ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: #262626;
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px;
}

h2{
    color: black;
    text-align: center;
    margin: 20px;
}

h3 {
    color: white;
    text-align: center;
    margin: 20px;
}

#photo{
    padding: 30px;
}

section{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.footer-inner {
    background-color: #262626;
    height: 50vh;
    text-align: center;
    padding-top: 100px;

}

.footer-inner form {
    text-align: -webkit-center;
}

.footer-inner input {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 20%;

}

.icons {
    padding: 20px;
}

.icons i {
    padding: 20px;
    transition: 1s;
    text-decoration: none;
    list-style-type: none;
    color: black;

}

.icons i:hover {
    color: white;

}

@media (orientation:landscape) {
    .main-header {
        height: 100vh;
    }

    .navigation {
        margin-top: 45vh;
    }

    .tytul {
        margin-top: 5vh;
    }
    .footer-inner {
        background-color: #262626;
        height: 300px;
    }
}

@media (min-width:200px) and (max-width:700px) {
    
    .main-header{
    height: 70vh;
    width: 100%;
}

    h1 h2 h3 {
        text-align: center;

}
    
    #photo {
        margin-top: 10px;
        margin-bottom: 10px;
        padding:0 ;
        height: 150px;
}

    section {
        text-align: center;
        padding: 20px;
        margin-top: 50px;
        margin-left: 10vh;
        margin-right: 10vh;
        margin-bottom: 50px;
}
    
}

/* @media (orientation:landscape) {

}
  */
