* {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.main-header {
    height: 80vh;
    /* background: url(../Portfolio/Photos/raptors.jpg) no-repeat center; */
    background-color:  #262626;
}

.tytul {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding-top: 200px;
}

.navigation {
    margin-top: 300px;
    width: 100%;
    position: absolute;
}

.navigation ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    padding: 20px;
    list-style-type: none;
}

.navigation ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: #262626;
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px;
}

h2{
    color: black;
    text-align: center;
    margin: 20px;
}

h3 {
    color: white;
    text-align: center;
    margin: 20px;
}

#photo{
    padding: 30px;
}

section{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.footer-inner {
    background-color: #262626;
    height: 50vh;
    text-align: center;
    padding-top: 100px;

}

.footer-inner form {
    text-align: -webkit-center;
}

.footer-inner input {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 20%;

}


